@CHARSET "UTF-8";
#top{
	width: 1000px;
	height: 150px;
	display: inline;
	margin-left: 350px;
}
body{
	background-color: #A36EBA;
}
fieldset{
	background-color: #825794;
	width: 500px;
	height: 100px;
	float: middle;
	margin-left: 350px;
	margin-top: 150px;
}
h1{
	text-align:center;
	color:blue;
}
#tablaViajero{
	width: 550px;
	height: 100px;
	float: middle;
	margin-left: 350px;
	margin-top: 50px;
	
}
#tablaResultados{
	width: 800px;
	float: middle;
	margin-left: 230px;
	background-color: rgb(238, 238, 238);
}

#tablaResultados th{
	background-color: rgb(124, 123, 134);
}

#tablaUnirse{
	color:blue;
	font-size:30px;
	margin-left: 320px;	
}

#cabecera td{
	background-color: rgb(238, 238, 238);
	height: 30px;
}

#nickconductor td{
	background-color: maroon;
	height: 20px;
	color:yellow;
}

#separador td{background-color: rgb(124, 123, 134);}
#datosconductor td{
		border-top-width: 1px;
    	border-top-style: solid;
 		border-top-color: rgb(153, 0, 51);
	}
#formularioPasajero{
	width: 550px;
	height: 500px;
	float: middle;
	margin-left: 350px;
}
#lfrom{
	margin-right:100px;	
	margin-left: 75px;	
}
#lto{
	margin-right:104px;
	margin-left: 75px;		
}
#lfecha{
	margin-right:103px;
	margin-left: 75px;		
}
#lmove{
	margin-right:25px;	
	margin-left: 75px;	
}
label{
	
}
#botonEnviar{
	margin-left:220px;
}
	.enlaceboton {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.enlaceboton:link {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #666666 2px solid
}
.enlaceboton:visited {
	BORDER-RIGHT: #666666 2px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #666666 2px solid
}
.enlaceboton:hover {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #666666 2px solid; BORDER-LEFT: #666666 2px solid; BORDER-BOTTOM: #cccccc 1px solid
}
input.mayusculas{text-transform:uppercase;}